<section class="create-wrapper-body" style="height:50vh; margin-top:4em;">
  <div class="create-wrapper">
    <article class="create-input-data">
      <h2>Broker Information</h2>

      <div class="form-left-and-right">

        <div class="form-left">
          <div class="field">
            <p>Username: </p><h3><%= @broker.username%></h3><br>
            <p>First name: </p><h3><%= @broker.first_name%></First>
          </div>
        </div>

        <div class="form-right">   
          <div class="field">
            <p>Email: </p><h3><%= @broker.email%></h3><br>
            <p>Last name: </p><h3><%= @broker.last_name%></h3>
          </div>
        </div>

    </article>
  </div>
</section>

<section class = 'table'>
    
    <table class = 'content-table'>
    <caption>Stocks</caption>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Company Name</th>
            </tr>
        </thead>
        <tbody>
        <% @broker.broker_stocks.each do |broker_stock|%>
            <tr>
                <td><%= broker_stock.symbol%></td>
                <td><%= broker_stock.company_name%></td>
            </tr>
        <%end%>
        </tbody>
    </table>
</section>


